h1{
    border: 2px solid;
    text-align: center;
    background-color: yellow;
    padding-top: 5%; 
    padding-bottom: 5%; 
}
#domain{
    text-align: center;
    padding: 10px;
    width:40%;
    border: 2px solid black;
}
h3,select{
    display: inline;
}
h3{
    color:purple;
}