/* BlogList Component */
.blog-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(214, 214, 83); /* Light gray for each blog item */
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: #e9ecef; /* Slightly darker gray on hover */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

button:hover {
  background-color: #0056b3;
}
