/* BlogDetails Component */
.blog-details {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e48585; /* White background for blog details */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background: linear-gradient(to right, #c053cc, #6356d8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

button:hover {
  background-color: #c82333;
}
