.projects {
  margin-bottom: 20px;
}

.projects h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-item img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px;
}

.project-details {
  flex: 1;
}

.project-item h3 {
  color: #555;
  font-size: 20px;
  margin-bottom: 5px;
}

.project-item p {
  color: #777;
  font-size: 16px;
  margin-bottom: 10px;
}

.project-link {
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

.project-link:hover {
  text-decoration: underline;
}
